[alias]
  st = status
  ci = commit -v
  aa = add . -v
  co = checkout
  br = branch
  lg = log --oneline --graph --decorate --all
  amend = commit --amend
  unstage = reset HEAD --
  last = log -1 HEAD

[user]
	email = w.oumoulilte@enaa.ma
	name = walid-hud
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
  helper = !/usr/bin/gh auth git-credential

[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
